*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: Philosopher;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000213;
}

html, body {
  height: 100%;
  color: #000213;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  background: url(../img/fon-line.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 0px;
}

.fullscreen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1620px;
  margin: auto;
  height: 100vh;
}

.fullscreen__header {
  padding-top: 30px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fullscreen__header-phone, .fullscreen__header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen__header-phone {
  max-width: 240px;
  margin-right: 50px;
}

.fullscreen__header-phone img {
  margin-right: 8px;
}

.fullscreen__header-phone a {
  text-decoration: none;
  color: #000213;
}

.fullscreen__header-phone a:hover {
  color: #F9B775;
}

.fullscreen__header-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 376px;
}

.fullscreen__header-address img {
  margin-right: 8px;
}

.fullscreen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  min-height: 100vh;
}

.fullscreen__content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 834px;
  max-height: 100vh;
}

.fullscreen__content-img-spivak {
  max-height: 864px;
  position: relative;
  left: -280px;
}

.fullscreen__content-img-advokat {
  max-height: 750px;
}

.fullscreen__content-text {
  max-width: 550px;
  min-height: 100vh;
  margin-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen__content-text-title {
  max-width: 549px;
  max-height: 150px;
  font-weight: bold;
  font-size: 68px;
}

.fullscreen__content-text-description {
  max-width: 441px;
  min-height: 111px;
  font-size: 22px;
  line-height: 170%;
  margin-top: 15px;
}

.fullscreen__content-text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -6px;
  border: none;
  max-width: 289px;
  height: 61px;
  margin-top: 15px;
  background: url(../img/btn.svg);
}

.fullscreen__content-text-link a {
  color: #fff;
  text-decoration: none;
}

.fullscreen__content-text-link a:hover {
  color: #F9B775;
}

/* philosopher-regular - cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/philosopher-v14-cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/philosopher-v14-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-v14-cyrillic-regular.woff2") format("woff2"), url("../fonts/philosopher-v14-cyrillic-regular.woff") format("woff"), url("../fonts/philosopher-v14-cyrillic-regular.ttf") format("truetype"), url("../fonts/philosopher-v14-cyrillic-regular.svg#Philosopher") format("svg");
  /* Legacy iOS */
}

/* philosopher-700 - cyrillic */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/philosopher-v14-cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/philosopher-v14-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-v14-cyrillic-700.woff2") format("woff2"), url("../fonts/philosopher-v14-cyrillic-700.woff") format("woff"), url("../fonts/philosopher-v14-cyrillic-700.ttf") format("truetype"), url("../fonts/philosopher-v14-cyrillic-700.svg#Philosopher") format("svg");
  /* Legacy iOS */
}

@media (max-width: 1500px) {
  .fullscreen__content-text-title {
    font-size: 50px;
  }
}

@media (max-width: 1440px) {
  .fullscreen__content-img-advokat {
    display: none;
  }
  .fullscreen__content-img-spivak {
    left: -110px;
  }
}

@media (max-width: 1366px) {
  .fullscreen__content-text-title {
    font-size: 44px;
  }
}

@media (max-width: 1280px) {
  .fullscreen__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fullscreen__content-img {
    max-width: 650px;
  }
  .fullscreen__content-img-spivak {
    left: -30px;
  }
  .fullscreen__content-text-title {
    font-size: 30px;
  }
  .fullscreen__content-text-description {
    font-size: 18px;
    min-height: 90px;
  }
  .fullscreen__content-text-link a {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  .fullscreen__content {
    width: 384px;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fullscreen__content-img {
    width: 384px;
    height: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullscreen__content-img-spivak {
    left: 0px;
    height: 414px;
  }
  .fullscreen__content-text {
    min-height: 50%;
    width: 384px;
    margin: 0;
  }
  .fullscreen__content-text-title {
    width: 350px;
    font-size: 40px;
  }
  .fullscreen__content-text-description {
    font-size: 14px;
    min-height: 40px;
  }
  .fullscreen__content-text-link a {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .fullscreen {
    padding: 20px;
  }
  .fullscreen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .fullscreen__header-phone {
    margin: 0px 0px 10px 0px;
  }
  .fullscreen__header-content-text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 480px) {
  .fullscreen__header {
    padding: 0;
  }
  .fullscreen__header-phone a {
    font-size: 14px;
  }
  .fullscreen__header-address p {
    font-size: 14px;
  }
  .fullscreen__content-img {
    height: 90%;
  }
  .fullscreen__content-img-spivak {
    height: 333px;
    left: -60px
  }
  .fullscreen__content-text {
    position: relative;
    top: -40px;
  }
  .fullscreen__content-text-title {
    font-size: 30px;
  }
  .fullscreen__content-text-description {
    max-width: 360px;
  }
  .fullscreen__content-link {
    left: 10%;
  }
}
